/* ----------------------------------------------FONTS */
@import url('https://fonts.googleapis.com/css?family=Coiny');


/* ----------------------------------------------BACKGROUND */
.BG1 {
    background-color: #333;
}


/* ----------------------------------------------HEADER */
.display-4 {
    text-align: left;
    margin-top: 15px;
    color: #ffffff;
    font-family: 'Coiny', sans-serif;
    font-weight: 400;
}

.nav-link {
 font-family: 'Coiny', sans-serif;
 font-size: 25px;
 font-weight: 500;
 color: #e4032c;
 transition: 1.0s;
    
}

/* ----------------------------------------------Margins */
.container-margin {
    margin-top: 25px;
}


/* ----------------------------------------------Search City */
.city {
 font-family: 'Coiny', sans-serif;
 text-align: center;
 font-size: 25px;
 font-weight: 500;
 color: #ffffff;
 
}

.buttons{
 background-color: #ffffff;
 color: #e4032c;
 margin-top: 30px;
 border: none;
 font-family: 'Coiny', sans-serif;
 transition: 1.5s;
}



/* ----------------------------------------------FOOTER */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
 width: 30%;
}

/* ----------------------------------------------HOOVER */
.nav-link:hover {
 color: #ffffff;
 font-weight: 400;
}

.buttons:hover {
 background-color: #e4032c;
}
